<div class="container">
  <h2 class="m-4">Products</h2>
  <div class="row p-2 text-center">
    <div class="col-md-4 col-lg-3 mb-5">
      <div class="box">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
        />
        <h5>Product name</h5>
        <blockquote>product description</blockquote>
        <hr />
        <div class="d-flex justify-content-between">
          <span class="m-lg-auto">in cart : 100</span>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-5">
      <div class="box">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/3586249/pexels-photo-3586249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
        />
        <h5>Product name</h5>
        <blockquote>product description</blockquote>
        <hr />
        <div class="d-flex justify-content-between">
          <span class="m-lg-auto">in cart : 100</span>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-5">
      <div class="box">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
        />
        <h5>Product name</h5>
        <blockquote>product description</blockquote>
        <hr />
        <div class="d-flex justify-content-between">
          <span class="m-lg-auto">in cart : 100</span>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-5">
      <div class="box">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/207589/pexels-photo-207589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
        />
        <h5>Product name</h5>
        <blockquote>product description</blockquote>
        <hr />
        <div class="d-flex justify-content-between">
          <span class="m-lg-auto">in cart : 100</span>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-5">
      <div class="box">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/583842/pexels-photo-583842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
        />
        <h5>Product name</h5>
        <blockquote>product description</blockquote>
        <hr />
        <div class="d-flex justify-content-between">
          <span class="m-lg-auto">in cart : 100</span>
          <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
